<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.19.0/dist/phaser.min.js"></script>
    <link rel=stylesheet href="/stylesheets/style.css">
</head>
<body>
<div id="game-container">
</div>

<script type="text/javascript" src="/javascripts/game.js"></script>
</body>
</html>